body {
  margin: 0;
  font-family: Roboto;
  transition: background-color .3s ease-in-out;

  &.dark-mode {
    background-color: #000000;
    transition: background-color .3s ease-in-out;
  }

  &.light-mode {
    background-color: #ffffff;
    transition: background-color .3s ease-in-out;
  }
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1154px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: 400px) {
    padding: 0 33px;
  }

  @media (min-width: 1000px) {
    padding: 0 42px;
  }

  @media (min-width: 1100px) {
    padding: 0 15px;
  }
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Roboto-Bold.woff') format("woff");
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/Roboto-Light.woff') format("woff");
}


@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Roboto-Bold.woff') format("woff");
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Roboto-Bold.woff') format("woff");
}
